body {
  background: rgb(74, 106, 211);
}

.block {
  height: 100px;
  width: 200px;
  background: silver;
  margin-top: 10px;
}

.block > span {
  color: wheat;
}

.block > .span {
  background: yellowgreen;
}

.bigblock {
  height: 700px;
  width: 500px;
  background-color: teal;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin: 50px 100px;
  position: relative;
}

.littleblock {
  height: 400px;
  width: 400px;
  background-color: thistle;
  margin-top: -200px;
  margin-left: -200px;
  position: absolute;
  top: 50%;
  left: 50%;
}
