body {
  background: rgb(74, 106, 211);
}

.block {
  height: 100px;
  width: 200px;
  background: silver;
  margin-top: 10px;
}

.block > span {
  color: wheat;
}

.block > .span {
  background: yellowgreen;
}

.bigblock {
  height: 700px;
  width: 500px;
  background-color: teal;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin: 50px 100px;
  position: relative;
}

.bigblock:hover {
  background: firebrick;
}

.bigblock:hover > .littleblock {
  background: greenyellow;
  height: 100px;
  width: 100px;
}

.littleblock {
  height: 400px;
  width: 400px;
  background-color: thistle;
  margin-top: -200px;
  margin-left: -200px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.littleblock:hover {
  background: gray !important;
}

.paddingblock {
  height: 200px;
  width: 600px;
  background: blanchedalmond;
  padding-top: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.paddingblock-child {
  width: 100px;
  height: 100px;
  background-color: gold;
  float: left;
  margin-left: 20px;
}
